# GridPaw 多租户服务部署配置
# 复制本文件为 .env 并根据环境修改配置。

# Nginx 对外端口（唯一对用户暴露的端口）
NGINX_PORT=8087

# 创建租户容器时,为其命名的前缀,用于区分不同租户
INSTANCE_PREFIX=gridpaw-instance-

# 创建租户的GridPaw容器时使用的镜像名
TENANT_IMAGE=gridpaw-tenant:latest

# 宿主机目录,Admin服务存放数据的目录,用于存放数据库和智能体初始化模版文件
GRIDPAW_ADMIN_DATA_DIR=/Users/lilinxin/var/gridpaw/admin_data

# 宿主机目录,用于存放各租户的 GridPaw 数据（每租户一个子目录）
TENANTS_DATA_BASE_DIR=/Users/lilinxin/var/gridpaw/tenants_data

# 共享文件服务配置
# 宿主机目录,用于存放共享文件服务存储的文件
SHARED_FILES_DATA_DIR=/Users/lilinxin/var/gridpaw/shared_files
# 共享文件服务对外访问地址,应该填写服务的对外IP地址,而不是127.0.0.1
# 如果填写127.0.0.1, 则租户GridPaw容器里的智能体无法通过127.0.0.1访问共享文件服务,因为租户容器不是以host模式运行的.
# 如果填写服务器的对外IP,则所有能访问到该IP的设备都可以访问共享文件服务.
FILE_SERVICE_BASE_URL=http://192.168.31.160	